.TextField {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #E07A5F;
    -fx-text-fill: #fff;

    -fx-font-size: 18;

}
.TextField:hover {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #CA6702;
    -fx-font-size: 18;
    -fx-text-fill: #fff;
    -fx-font-weight: bold ;
}


.TextField:focused {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #CA6702;
    -fx-font-size: 18;
    -fx-text-fill: #fff;
    -fx-font-weight: bold ;
}
.Button {
    -fx-border-width: 2 2 2 2 ;
    -fx-background-color:  #E07A5F;
    -fx-font-size: 22;

}

.Button:focused {
    -fx-font-weight: bold;
    -fx-border-width: 5 5 5 5 ;
}
.Button:hover {
    -fx-font-weight: bold;
    -fx-border-width: 5 5 5 5 ;
}

.Button:pressed {
    -fx-font-weight: bold;
    -fx-border-width: 5 5 5 5 ;
    -fx-background-color: #CA6702;
}
.close-btn {
    -fx-background-color: transparent;
}
.close-btn:hover {
    -fx-background-color: rgba(232, 63, 63, 0.8);

}

.min-btn {
    -fx-background-color: transparent;

}
.min-btn:hover {
    -fx-background-color: rgba(206, 173, 124, 0.8);
}
.error-box {
    -fx-border-width: 3 3 3 3;
    -fx-border-color:  red  ;
}
.regular-date{
    -fx-text-fill: black;
}
.regular-date:hover {
    -fx-background-color: #b6976b;
}
.previus-date {
    -fx-text-fill: gray;
}
.previus-date:hover {
    -fx-background-color: rgba(128, 128, 128, 0.4);
}

.selected-date {
    -fx-text-fill: white;
    -fx-background-color: #CA6702;
    -fx-font-weight: bold;
    -fx-background-radius: 1em;
    -fx-border-radius: 2em;
    -fx-border-width: 5;
    -fx-border-color: transparent;
    -fx-font-size: 18;
}
.selected-date:hover {
    -fx-text-fill: white;
    -fx-background-color: #CA6702;
    -fx-font-weight: bold;
    -fx-background-radius: 1em;
    -fx-border-radius: 2em;
    -fx-border-width: 5;
    -fx-border-color: transparent;
    -fx-font-size: 18;

}





.free-date {
    -fx-text-fill: rgba(224, 122, 95, 0.69);
}

.free-date:hover {
   -fx-background-color: #f5b85e;

}


.next-date {
    -fx-text-fill: gray;
}
.next-date:hover {
    -fx-background-color: rgba(128, 128, 128, 0.4);
}

.workday:hover {
    -fx-background-color:  #65a183;
    -fx-background-radius: 2em;
}

.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}


.date-field {
    -fx-background-color: transparent;
    -fx-font-size:  14;
    -fx-prompt-text-fill: #2c2c2c;
}

.date-field:focused {
    -fx-prompt-text-fill: rgb(70, 70, 70);
}

.Name-field {
    -fx-background-color: transparent;
    -fx-font-size:  16;
    -fx-prompt-text-fill: #2c2c2c;
    -fx-text-fill: black;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: black;
    -fx-padding:  3px;

}

.Name-field:focused {
    -fx-prompt-text-fill: rgb(70, 70, 70);
}

.combo-box  {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 5px 5px 0 0 ;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.combo-box .list-view  {
    -fx-background-color: transparent;
    -fx-border-width: 0 2px 2px 2px;
    -fx-border-color: black;
    -fx-font-size: 14;
    -fx-border-radius: 0 0 5px 5px ;

    -fx-end-margin: 0;

}



.combo-box-popup .list-view .list-cell{

    -fx-background-color: #65a191;
    -fx-padding: 4px 0 4px 0;
    -fx-font-weight: 300 ;
}

.combo-box-popup .list-view .list-cell:hover  {
    -fx-background-color: #538579;
}


.combo-box-popup .list-view .list-cell:selected  {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.combo-box-popup .list-view .scroll-bar .thumb{
    -fx-background-color : #538579FF;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;

}

.combo-box-popup .list-view .scroll-bar {
    -fx-background-color:  #65A191FF;
}


.combo-box-popup .list-view .scroll-bar:horizontal .track,
.combo-box-popup .list-view .scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.combo-box-popup .list-view .scroll-bar:horizontal .increment-button ,
.combo-box-popup .list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.combo-box-popup .list-view .scroll-bar:vertical .increment-button ,
.combo-box-popup .list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.combo-box-popup .list-view .scroll-bar .increment-arrow,
.combo-box-popup .list-view .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.combo-box-popup .list-view .scroll-bar:vertical .increment-arrow,
.combo-box-popup .list-view .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.time-Box {
    -fx-background-color: #538579FF;
}

.time-scrool-pane {
    -fx-background-color: #32564c;
}








